<template>
  <div id="app">
    <div class="wrapper bglight shadow-lg">
      <h2>Garden Monitor</h2>
    </div>
    <div class="wrapper">
      <nav id="sidebar" class="bglight">
        <ul class="nav flex-column">
          <ul class="list-unstyled">
            <li>
              <router-link to="/"
                ><i class="fas fa-desktop big-icon "></i
              ></router-link>
            </li>
            <li>
              <router-link to="/home"
                ><i class="fas fa-home big-icon not-implemented"></i
              ></router-link>
            </li>
            <li>
              <router-link to="/weather"
                ><i class="fas fa-cloud big-icon "></i
              ></router-link>
            </li>
            <li>
              <a href="/beds"><i class="fas fa-seedling big-icon "></i></a>
            </li>
            <li>
              <a href="/vegetables"><i class="fas fa-carrot big-icon "></i></a>
            </li>
            <li>
              <a href="/water"
                ><i class="fas fa-water big-icon not-implemented"></i
              ></a>
            </li>
            <li>
              <a href="/statistics"
                ><i class="fas fa-chart-pie big-icon not-implemented"></i
              ></a>
            </li>
            <li>
              <a href="/power"
                ><i class="fas fa-battery-full big-icon not-implemented"></i
              ></a>
            </li>
            <li>
              <a href="/sensors"><i class="fas fa-microchip big-icon"></i></a>
            </li>
          </ul>
        </ul>
      </nav>
      <div id="content" class="bgdark">
        <router-view />
      </div>
    </div>
  </div>
</template>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: white;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.bottom-stick {
  position: absolute;
  bottom: 0;
  width: 97.5%;
  overflow: scroll;
  overflow-x: hidden;
}

.bgdark {
  background-color: #1c1e2f;
  color: white;
}

.bglight {
  background-color: #222437;
  color: white;
}

.big-icon {
  color: white;
  font-size: 24px;
  margin-left: 5px;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

#sidebar {
  min-width: 40px;
  max-width: 40px;
  height: calc(100vh - 46px);
}

#content {
  width: 100%;
}

.report-success {
  color: #1b5d3a;
  border-right: 1px solid #2b2e46;
}

.report-error {
  color: #892626;
  border-right: 1px solid #2b2e46;
}

.report-critical {
  color: red;
  border-right: 1px solid #2b2e46;
  font-weight: bold;
}

.tr-critical {
  background-color: #892626;
}

.custom-table {
  width: 100%;
  font-size: 10pt;
  margin: auto;
  overflow: scroll;
}

.custom-table td {
  border-bottom: 1px solid #2b2e46;
}

.custom-table-td-right {
  text-align: right;
}
.btn-default {
  color: white;
  margin-left: 1.5em;
  background-color: #454a77;
  border: 1px solid #5e649b;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #1c1e2f;
  box-shadow: 2px 2px 20px 1px #000;
  top: 10%;
  left: 35%;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 70%;
}

.modal-header,
.modal-footer {
  padding: 15px;
  display: flex;
  border: none;
}

.modal-header {
  color: #fff;
  justify-content: space-between;
}

.modal-footer {
  justify-content: flex-end;
}

.modal-body {
  position: relative;
  padding: 20px 10px;
}

.modal-fade-enter,
.modal-fade-leave-active {
  opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 0.5s ease;
}

.not-implemented {
  color: #434770;
}

textarea {
  color: white;
  width: 100%;
  height: 180px;
  background-color: #222437;
  border: 1px solid #5e649b;
}

input {
  color: white;
  width: 100%;
  background-color: #222437;
  border: 1px solid #5e649b;
}
select {
  width: 100%;
  background-color: #222437;
  color: white;
  border: 1px solid #5e649b;
}
option {
  text-align: center;
}

.s {
  background-color: tomato;
}

.p {
  background-color: teal;
}
.g {
  background-color: darkolivegreen;
}
.h {
  background-color: thistle;
}
.x {
}
.legend {
  width: 5em;
  float: left;
  margin-left: 0.1em;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

li {
  border: 1px solid #1c1e2f;
  width: 100%;
}
</style>
