<template>
  <div class="container-fluid">
    <div v-for="bed in activeBeds" v-bind:key="bed.id">
      <SingleBed :bed="bed"></SingleBed>
    </div>
    <div class="row">
      <AddBedModal
        v-show="isModalVisible"
        @close="closeModal"
        :bed="{ name: '', type: '', notes: '', active: '', id: '' }"
      />
      <BedStatusModal
        v-show="isModalVisible1"
        @close="closeModal1"
        :activeBeds="activeBeds"
        :inactiveBeds="inactiveBeds"
      />
      <button class="btn-main" style="right: 6em;" @click="showModal1">
        Change Bed Status
      </button>
      <button class="btn-main" @click="showModal">Add Bed</button>
    </div>
  </div>
</template>

<script>
import { apiService } from "@/common/api.service.js";
import SingleBed from "@/components/SingleBed.vue";
import AddBedModal from "@/components/modals/AddBedModal.vue";
import BedStatusModal from "@/components/modals/BedStatusModal.vue";
export default {
  name: "beds",
  components: {
    SingleBed,
    AddBedModal,
    BedStatusModal
  },
  data() {
    return {
      inactiveBeds: [],
      activeBeds: [],
      isModalVisible: false,
      isModalVisible1: false
    };
  },
  methods: {
    showModal() {
      this.isModalVisible = true;
    },
    closeModal() {
      this.isModalVisible = false;
    },
    showModal1() {
      this.isModalVisible1 = true;
    },
    closeModal1() {
      this.isModalVisible1 = false;
    },
    async getBedData() {
      let endpoint = "/api/beds/";
      let tmpBeds = [];
      let tmpActiveBeds = [];
      let tmpInactiveBeds = [];
      apiService(endpoint)
        .then(data => {
          for (let report in data) {
            if (data[report]["active"]) {
              tmpActiveBeds.push(data[report]);
            } else {
              tmpInactiveBeds.push(data[report]);
            }
          }
        })
        .finally(() => {
          for (let bed in tmpActiveBeds) {
            let tmpBed = {};
            let endpoint = `/api/beds/${tmpActiveBeds[bed]["id"]}/planted/`;
            apiService(endpoint).then(data => {
              let tmpVegs = [];
              for (let veg in data) {
                tmpVegs.push({
                  name: data[veg]["vegetable_name"],
                  id: data[veg]["id"],
                  growing_period: data[veg]["growing_period"].split(",")
                });
              }
              tmpBed = {
                bed_name: tmpActiveBeds[bed]["bed_name"],
                id: tmpActiveBeds[bed]["id"],
                notes: tmpActiveBeds[bed]["notes"],
                active: tmpActiveBeds[bed]["active"],
                type: tmpActiveBeds[bed]["type"],
                vegetables: tmpVegs,
                moisture: this.getMoisture(tmpActiveBeds[bed]["id"])
              };
              tmpBeds.push(tmpBed);
              tmpBeds.sort((a, b) => (a.id > b.id ? 1 : -1));
            });
          }
        });
      this.inactiveBeds = tmpInactiveBeds;
      this.activeBeds = tmpBeds;
    },
    getMoisture(id) {
      const today = new Date();
      let output = [{ name: "Moisture %", data: [] }];
      let endpoint = `/api/beds/${id}/moisture/${today.getFullYear()}/${today.getMonth() +
        1}/${today.getDate()}/`;
      apiService(endpoint).then(data => {
        for (let report in data) {
          output[0]["data"].push(data[report]["moisture"]);
        }
      });
      return output;
    }
  },
  created() {
    this.getBedData();
  }
};
</script>

<style scoped>
.btn-main {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin: 1em;
  color: white;
  height: 2em;
  background-color: #454a77;
  border: 1px solid #5e649b;
}
</style>
