<template>
  <div id="content" class="bgdark">
    <div class="container-fluid">
      <div class="row mt-2">
        <div class="col">
          <div class="bglight" style="width: 100%; height:30vh">
            <CurrentWeather :currentWeather="weatherReport"></CurrentWeather>
          </div>
        </div>
        <div class="col">
          <div class="bglight" style="width: 100%; height:30vh">
            <div class="card-body ">
              <h5 class="card-title">Beds</h5>
              <br />

              <ul class="bed-list">
                <li v-for="report in bedReport" v-bind:key="report.bed">
                  Bed {{ report.bed
                  }}<span style="position: absolute; right: 35px;"
                    >{{ report.moisture }}%</span
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="bglight" style="width: 100%; height:30vh">
            <div class="card-body">
              <h5 class="card-title">Tanks</h5>
              <div class="img-container">
                WORK IN PROGRESS
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="bglight" style="width: 100%; height:30vh">
            <div class="card-body">
              <h5 class="card-title">Vavles</h5>
              <p class="card-text">
                WORK IN PROGRESS
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 shadow-sm">
          <div class="bglight" style="width: 100%; height:30vh">
            <div class="card-body">
              <h5 class="card-title">Upcoming:</h5>
              <p class="card-text">
                WORK IN PROGRESS
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row bottom-stick">
        <div class="col-12 shadow-sm">
          <div class="bglight" style="width: 100%; height:30vh">
            <div class="card-body">
              <h5 class="card-title">
                Reports <span class="report-critical"></span>
              </h5>
              WORK IN PROGRESS
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { apiService } from "@/common/api.service.js";
import CurrentWeather from "@/components/CurrentWeather.vue";
export default {
  name: "dashboard",
  components: {
    CurrentWeather
  },
  data() {
    return {
      weatherReport: {},
      activeBeds: [],
      bedReport: [],
      tankReport: null,
      valveReport: null,
      timer1: "",
      timer2: ""
    };
  },
  methods: {
    getLatestWeaterReport() {
      let endpoint = "/api/weather/1/latest/";
      apiService(endpoint).then(data => {
        this.weatherReport = data;
      });
    },
    getLatestBedReport() {
      let endpoint = "/api/beds/";
      apiService(endpoint)
        .then(data => {
          for (let report in data) {
            if (data[report]["active"]) {
              this.activeBeds.push(data[report]["id"]);
            }
          }
        })
        .finally(() => {
          for (let bed in this.activeBeds) {
            let endpoint = `/api/beds/${this.activeBeds[bed]}/moisture/latest/`;
            apiService(endpoint).then(data => {
              if (data === null) {
                data = {
                  moisture: "n/a",
                  bed: this.activeBeds[bed]
                };

                this.bedReport.push(data);
              } else {
                this.bedReport.push(data);
              }
            });
          }
        });
    },
    updateMoisture() {
      for (let report in this.bedReport) {
        let endpoint = `/api/beds/${
          this.bedReport[report]["bed"]
        }/moisture/latest/`;
        apiService(endpoint).then(data => {
          this.bedReport[report]["moisture"] = data["moisture"];
        });
      }
    }
  },
  created() {
    this.getLatestBedReport();
    this.getLatestWeaterReport();
    this.timer1 = setInterval(this.getLatestWeaterReport, 600000);
    this.timer2 = setInterval(this.updateMoisture, 600000);
  },
  beforeDestroy() {
    clearInterval(this.timer1);
    clearInterval(this.timer2);
  }
};
</script>

<style scoped>
.valve-closed {
  color: #1b5d3a;
}

.valve-open {
  color: #5d501b;
}

.valve-error {
  color: red;
}
.bed-list {
  display: block;
  width: 100%;
  font-size: 10pt;
  list-style: none;
  padding-left: 0px;
}
.bed-list li {
  border-bottom: 1px solid #1b5d3a;
}
</style>
