<template>
  <div class="container-fluid">
    <div class="row">
      <div
        class="col bglight"
        style="margin: 0.5em;"
        v-for="type in sensorTypes"
        v-bind:key="type.id"
      >
        <h4>{{ type.type }}</h4>
        <div v-for="sensor in sensors" v-bind:key="sensor.id">
          <span
            v-if="sensor.type == type.id"
            @click="sensorEditModal(sensor)"
            >{{ sensor.name }}</span
          >
        </div>
      </div>
    </div>
    <AddSensorModal
      v-show="isAddSensorModalVisible"
      @close="closeAddSensorModal"
      :sensor="sensor"
      :sensorTypes="sensorTypes"
    />

    <button class="btn-main" @click="showAddSensorModal">Add Sensor</button>
  </div>
</template>
<script>
import { apiService } from "@/common/api.service.js";
import AddSensorModal from "@/components/modals/AddSensorModal.vue";
export default {
  name: "sensors",
  components: {
    AddSensorModal
  },
  data() {
    return {
      sensorTypes: [],
      sensors: [],
      sensor: { name: "", type: "", description: "", status: "", id: "" },
      isAddSensorModalVisible: false
    };
  },
  methods: {
    sensorEditModal(sensor) {
      this.sensor = sensor;
      this.isAddSensorModalVisible = true;
    },
    showAddSensorModal() {
      this.isAddSensorModalVisible = true;
    },
    closeAddSensorModal() {
      this.isAddSensorModalVisible = false;
    },
    getAllSensorTypes() {
      const endpoint = "/api/sensors/types/";
      apiService(endpoint).then(data => {
        for (let type in data) {
          this.sensorTypes.push(data[type]);
        }
      });
    },
    getAllSensors() {
      this.sensors = [];
      const endpoint = "/api/sensors/";
      apiService(endpoint).then(data => {
        for (let sensor in data) {
          this.sensors.push(data[sensor]);
        }
      });
    }
  },
  created() {
    this.getAllSensorTypes();
    this.getAllSensors();
  }
};
</script>
<style scoped>
.btn-main {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin: 1em;
  color: white;
  height: 2em;
  background-color: #454a77;
  border: 1px solid #5e649b;
}
</style>
