<template>
  <div class="row">
    <div class="col">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Jan</th>
            <th>Feb</th>
            <th>Mar</th>
            <th>Apr</th>
            <th>May</th>
            <th>Jue</th>
            <th>Jul</th>
            <th>Aug</th>
            <th>Sep</th>
            <th>Oct</th>
            <th>Nov</th>
            <th>Dec</th>
          </tr>
        </thead>
        <tbody>
          <tr class="max-temp">
            <td
              v-for="temp in maxTemp"
              v-bind:style="{ background: temp.bgcolor }"
              v-bind:key="temp.value"
            >
              {{ temp.value }}
            </td>
          </tr>
          <tr class="median-temp">
            <td
              v-for="temp in medianTemp"
              v-bind:style="{ background: temp.bgcolor }"
              v-bind:key="temp.value"
            >
              {{ temp.value }}
            </td>
          </tr>
          <tr class="min-temp">
            <td
              v-for="temp in minTemp"
              v-bind:style="{ background: temp.bgcolor }"
              v-bind:key="temp.value"
            >
              {{ temp.value }}
            </td>
          </tr>
          <tr class="rain-days"></tr>
          <tr class="rain-amount"></tr>
          <tr class="rain-amount"></tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { apiService } from "@/common/api.service.js";
export default {
  name: "statistics",
  data() {
    return {
      hotColors: [
        "#4b0000",
        "#500000",
        "#560000",
        "#5d0000",
        "#630000",
        "#6a0000",
        "#710000",
        "#770000",
        "#7f0000",
        "#860000",
        "#8d0400",
        "#941106",
        "#9c1a0c",
        "#a32312",
        "#ab2a18",
        "#b2311d",
        "#ba3823",
        "#c13f28",
        "#c9462e",
        "#d14c33",
        "#d85339",
        "#e05a3f",
        "#e86044",
        "#ef674a",
        "#f76d50",
        "#ff7456",
        "#ff7b5c",
        "#ff8162",
        "#ff8868",
        "#ff8f6e",
        "#ff9574",
        "#ff9c7b",
        "#ffa381",
        "#ffaa87",
        "#ffb08e",
        "#ffb794",
        "#ffbe9a",
        "#ffc5a1",
        "#ffcca7",
        "#ffffff"
      ],
      coldColors: [
        "#000e56",
        "#001760",
        "#001e6a",
        "#002674",
        "#002e7e",
        "#003689",
        "#003f93",
        "#1b489e",
        "#2c51a8",
        "#395ab3",
        "#4664be",
        "#526dc9",
        "#5e77d4",
        "#6981df",
        "#758beb",
        "#8095f6",
        "#8ca0ff",
        "#97aaff",
        "#a3b5ff",
        "#aec0ff",
        "#bacbff",
        "#c5d6ff",
        "#d1e1ff",
        "#dcecff",
        "#ffffff"
      ],
      maxTemp: [{ value: "max Temperature", bgcolor: null }],
      minTemp: [{ value: "min Temperature", bgcolor: null }],
      medianTemp: [{ value: "median Temperature", bgcolor: null }],
      rain_amount: [{ value: "Rain amount", bgcolor: null }],
      rain_days: [{ value: "Rain days", bgcolor: null }],
      lightning: [{ value: "Lightning Strikes", bgcolor: null }]
    };
  },
  methods: {
    getWeatherStatistic() {
      const endpoint = `/api/statistics/weather/${new Date().getFullYear()}/`;

      apiService(endpoint).then(data => {
        this.maxTemp = this.fillArray(this.maxTemp);
        this.minTemp = this.fillArray(this.minTemp);
        this.medianTemp = this.fillArray(this.medianTemp);

        for (let entry in data) {
          const getMonth = new Date(data[entry]["date"]).getMonth();

          this.maxTemp[getMonth + 1]["value"] = data[entry]["temperature_max"];
          this.maxTemp[getMonth + 1]["bgcolor"] = this.getBGColor(
            data[entry]["temperature_max"]
          );

          this.minTemp[getMonth + 1]["value"] = data[entry]["temperature_min"];
          this.minTemp[getMonth + 1]["bgcolor"] = this.getBGColor(
            data[entry]["temperature_min"]
          );

          this.medianTemp[getMonth + 1]["value"] =
            data[entry]["temperature_median"];
          this.medianTemp[getMonth + 1]["bgcolor"] = this.getBGColor(
            data[entry]["temperature_median"]
          );
        }
      });
    },
    fillArray(array) {
      for (let i = 1; i < 13; i++) {
        array.push({ value: null, bgcolor: null });
      }
      return array;
    },
    getBGColor(temp) {
      temp = Math.floor(temp);
      if (temp > 0) {
        return this.hotColors[40 - temp];
      } else if (temp === 0) {
        return "#FFFFFF";
      } else if (temp < 0) {
        return this.coldColors[25 - Math.abs(temp)];
      }
    }
  },
  created() {
    this.getWeatherStatistic();
  }
};
</script>

<style scoped>
table {
  font-size: 10pt;
}
th {
  text-align: center;
}
td {
  width: 4em;
  padding: 1px;
  border-left: 3px solid #1c1e2f;
  border-right: 3px solid #1c1e2f;
  text-align: center;
}
.description {
  width: 10em;
  text-align: left;
  background-color: #222437;
}
</style>
