<template>
  <div class="container-fluid">
    <div class="row mt-3">
      <div class="col-3">
        <div class="bglight" style="width: 100%; height:92vh">
          <button
            class="btn-default"
            style="margin-top: .5em; width: 80%; margin-bottom: .5em;"
            @click="showModal"
          >
            New Vegetable
          </button>
          <AddVegModal v-show="isModalVisible" @close="closeModal" />
          <ul>
            <li
              v-for="veg in vegetables"
              v-bind:key="veg.name"
              @click="showModal2(veg)"
            >
              {{ veg.name }}
            </li>
            <EditVegModal
              v-show="isModalVisible2"
              @close="closeModal2"
              :veg="vegdata"
            />
          </ul>
        </div>
      </div>
      <div class="col-5 full-height">
        <div class="bglight"></div>
        something should be here
      </div>
      <div class="col-4" style="height: 92vh;">
        <div class="col-12" style="height: 45vh;">
          <div class="bglight small-container" style="height: 100%">
            <h5>Upcoming plants to be planted</h5>
            <ToBePlanted :data="vegToBePlanted" />
          </div>
        </div>
        <div class="col-12" style="height: 45vh;">
          <div class="bglight small-container" style="height: 100%">
            <h5>Upcoming Harvest</h5>
            <ToBeHarvested :data="vegToBeHarvested" />
          </div>
          <h6 class="s legend">Seed</h6>
          <h6 class="p legend" style="">Plant</h6>
          <h6 class="g legend">Grow</h6>
          <h6 class="h legend">Harvest</h6>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { apiService } from "@/common/api.service.js";
import AddVegModal from "@/components/modals/AddVegModal.vue";
import EditVegModal from "@/components/modals/EditVegModal.vue";
import ToBePlanted from "@/components/ToBePlanted.vue";
import ToBeHarvested from "@/components/ToBeHarvested.vue";
export default {
  name: "vegetables",
  components: {
    ToBePlanted,
    ToBeHarvested,
    AddVegModal,
    EditVegModal
  },
  data() {
    return {
      isModalVisible: false,
      isModalVisible2: false,
      vegetables: [],
      vegdata: {},
      vegToBePlanted: [],
      vegToBeHarvested: []
    };
  },
  methods: {
    showModal() {
      this.isModalVisible = true;
    },
    closeModal() {
      this.isModalVisible = false;
    },
    showModal2(veg) {
      this.vegdata = veg;
      this.isModalVisible2 = true;
    },
    closeModal2() {
      this.isModalVisible2 = false;
    },
    getAllVegetables() {
      const endpoint = "/api/vegetables/";
      apiService(endpoint).then(data => {
        this.vegetables = data;
        this.toBePlanted();
      });
    },
    toBePlanted() {
      this.vegToBePlanted = [];
      this.vegToBeHarvested = [];
      const today = new Date();
      const monthNo = today.getUTCMonth();

      for (let veg in this.vegetables) {
        let growPeriod = this.vegetables[veg]["growPeriod"].split(",");
        if (growPeriod[monthNo] === "p" || growPeriod[monthNo] === "s") {
          this.vegetables[veg]["growAction"] = growPeriod[monthNo];
          this.vegToBePlanted.push(this.vegetables[veg]);
        }
        if (growPeriod[monthNo] === "h") {
          this.vegetables[veg]["growAction"] = growPeriod[monthNo];
          this.vegToBeHarvested.push(this.vegetables[veg]);
        }
      }
      this.vegToBePlanted.sort((a, b) =>
        a.growAction > b.growAction ? 1 : -1
      );
      this.vegToBeharvested.sort((a, b) =>
        a.growAction > b.growAction ? 1 : -1
      );
    }
  },
  created() {
    this.getAllVegetables();
    this.toBePlanted();
  }
};
</script>

<style scoped>
ul {
  list-style: none;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 100%;
}

li {
  border: 1px solid #1c1e2f;
  border-left: 2px solid #1c1e2f;
  border-right: 2px solid #1c1e2f;
  width: 100%;
}
</style>
