<template>
  <div class="container-fluid">
    <div class="row mt-3">
      <div class="col-9">
        <div class="bglight" style="width: 100%; height:60vh">
          <div class="wrapper" style="height: 93%">
            <div class="chart">
              <apexchart
                width="105%"
                height="110%"
                type="line"
                :options="chartOptions"
                :series="series"
              >
              </apexchart>
            </div>
          </div>
          <div class="wrapper">
            <button class="btn-left" @click="prevDay">Prev. Day</button>
            <button class="btn-right" v-if="notCurrentDay" @click="nextDay">
              Next Day
            </button>
          </div>
        </div>
      </div>
      <div class="col-3 bglight">
        <div class="row">
          <div style="width: 100%; height:30vh">
            <CurrentWeather :currentWeather="currentWeather"></CurrentWeather>
          </div>
        </div>
        <div class="row">
          <div style=" width:100%; height: 30vh;">
            <div class="card-body"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row bottom-stick">
            <div class="col-12 shadow-sm">
                <div class="bglight" style="width: 100%; height:30vh;">
                    <div class="card-body">
                        <h5 class="card-title">Reports <span class="report-critical">CRITICAL FAILURE</span>
                        </h5>

                    </div>
                </div>
            </div>
        </div> -->
  </div>
</template>

<script>
import { apiService } from "@/common/api.service.js";
import CurrentWeather from "@/components/CurrentWeather.vue";

export default {
  name: "weather",
  components: {
    CurrentWeather
  },
  data() {
    return {
      currentWeather: {},
      today: new Date(),
      timer1: null,
      timer2: null,
      notCurrentDay: false,
      dayOffset: 0,
      offSetDay: new Date(),
      updateChartFlag: true,
      chartOptions: {
        xaxis: {
          type: "datetime",
          labels: {
            rotate: 0,
            rotateAlways: true,
            show: true,
            trim: true,
            showDuplicates: true,
            format: "HH:mm",
            style: {
              colors: "#FFFFFF"
            }
          }
        },
        yaxis: [
          {
            labels: {
              style: {
                color: "#FFFFFF"
              }
            },
            title: {
              text: "Temperature",
              style: {
                color: "#FFFFFF"
              }
            }
          },
          {
            min: 0,
            max: 100,
            labels: {
              style: {
                color: "#FFFFFF"
              }
            },
            title: {
              text: "Humidity",
              style: {
                color: "#FFFFFF"
              }
            }
          },
          {
            opposite: true,
            labels: {
              style: {
                color: "#FFFFFF"
              }
            },
            title: {
              text: "Pressure",

              style: {
                color: "#FFFFFF"
              }
            }
          }
        ]
      },
      series: []
    };
  },
  methods: {
    getLatestWeaterReport() {
      let endpoint = "/api/weather/1/latest/";
      apiService(endpoint).then(data => {
        this.currentWeather = data;
      });
    },
    getWeather() {
      let endpoint = `/api/weather/1/${this.today.getFullYear()}/${this.today.getMonth() +
        1}/${this.today.getDate()}/`;
      apiService(endpoint).then(data => {
        this.getWeatherData(data);
      });
    },
    createChart() {
      let endpoint = `/api/weather/1/${this.today.getFullYear()}/${this.today.getMonth() +
        1}/${this.today.getDate()}/`;
      apiService(endpoint).then(data => {
        this.getChartOptions(data);
        this.getWeatherData(data);
      });
    },
    updateChart() {
      if (this.updateChartFlag) {
        let endpoint = "/api/weather/1/latest/";
        let newTemp, newHum, newPre;
        apiService(endpoint).then(data => {
          newTemp = this.series[0].data;
          newTemp.push(data["temperature"]);
          newHum = this.series[1].data;
          newHum.push(data["humidity"]);
          newPre = this.series[2].data;
          newPre.push(Math.round((data["pressure"] / 100) * 100) / 100);
          this.series = [
            {
              name: "Temperature",
              data: newTemp
            },
            {
              name: "Humidity",
              data: newHum
            },
            {
              name: "Pressure",
              data: newPre
            }
          ];
          this.createChart();
        });
      }
    },
    prevDay() {
      this.dayOffset = 1;
      this.updateChartFlag = false;
      this.notCurrentDay = true;
      this.getOffsetDate();
      const endpoint = `/api/weather/1/${this.offSetDay.getFullYear()}/${this.offSetDay.getMonth() +
        1}/${this.offSetDay.getDate()}/`;
      apiService(endpoint).then(data => {
        this.getChartOptions(data);
        this.getWeatherData(data);
      });
    },
    nextDay() {
      this.dayOffset = -1;
      this.getOffsetDate();
      //Create comparison strings to check if offsetdate is today
      const compString1 = `${this.offSetDay.getFullYear()}/${this.offSetDay.getMonth()}/${this.offSetDay.getDate()}`;
      const compString2 = `${this.today.getFullYear()}/${this.today.getMonth()}/${this.today.getDate()}`;
      if (compString1 === compString2) {
        this.notCurrentDay = false;
        this.updateChartFlag = true;
        const endpoint = `/api/weather/1/${this.today.getFullYear()}/${this.today.getMonth() +
          1}/${this.today.getDate()}/`;
        apiService(endpoint).then(data => {
          this.getChartOptions(data);
          this.getWeatherData(data);
        });
      } else {
        const endpoint = `/api/weather/1/${this.offSetDay.getFullYear()}/${this.offSetDay.getMonth() +
          1}/${this.offSetDay.getDate()}/`;
        apiService(endpoint).then(data => {
          this.getChartOptions(data);
          this.getWeatherData(data);
        });
      }
    },
    getWeatherData(data) {
      let temperature = [];
      let humidity = [];
      let pressure = [];
      for (let report in data) {
        temperature.push(data[report]["temperature"]);
        humidity.push(data[report]["humidity"]);

        pressure.push(Math.round((data[report]["pressure"] / 100) * 100) / 100);
      }
      this.series = [
        {
          name: "Temperature",
          data: temperature
        },
        {
          name: "Humidity",
          data: humidity
        },
        {
          name: "Pressure",
          data: pressure
        }
      ];
    },
    getChartOptions(data) {
      let date = [];
      let tempmin, tempmax;
      let first = true;
      for (let report in data) {
        let pTemp = data[report]["pressure"];
        pTemp = Math.round((pTemp / 100) * 100) / 100;
        if (first) {
          tempmin = pTemp;
          tempmax = pTemp;
          first = false;
        }
        if (pTemp > tempmax) {
          tempmax = pTemp;
        }
        if (pTemp < tempmin) {
          tempmin = pTemp;
        }
        date.push(new Date(data[report]["created_at"]).getTime() - 7200000);
      }
      this.chartOptions = {
        chart: {
          id: "Weather",
          animations: {
            enabled: true,
            easing: "easein",
            speed: 1000,
            animateGradually: {
              enabled: false
            },
            dynamicAnimation: {
              enabled: true,
              speed: 350
            }
          }
        },
        legend: {
          position: "top",
          onItemHover: {
            highlightDataSeries: true
          },
          labels: {
            colors: "#FFFFFF"
          }
        },
        xaxis: {
          type: "datetime",
          categories: date,
          labels: {
            show: true,
            trim: true,
            showDuplicates: false,
            format: "HH:mm",
            style: {
              colors: "#FFFFFF"
            }
          }
        },
        yaxis: [
          {
            labels: {
              style: {
                color: "#FFFFFF"
              }
            },
            title: {
              text: "Temperature °C",
              style: {
                color: "#FFFFFF"
              }
            }
          },
          {
            min: 0,
            max: 100,
            labels: {
              style: {
                color: "#FFFFFF"
              }
            },
            title: {
              text: "Humidity %",
              style: {
                color: "#FFFFFF"
              }
            }
          },
          {
            opposite: true,
            max: tempmax + 1,
            min: tempmin - 1,
            labels: {
              style: {
                color: "#FFFFFF"
              }
            },
            title: {
              text: "Pressure hPA",

              style: {
                color: "#FFFFFF"
              }
            }
          }
        ],
        tooltip: {
          enabled: true,
          theme: "dark",
          x: {
            format: "HH:mm"
          }
        },
        colors: ["#F44336", "#E91E63", "#9C27B0"],
        dataLabels: {
          style: {
            colors: ["#F44336", "#E91E63", "#9C27B0"]
          }
        },
        markers: {
          colors: ["#F44336", "#E91E63", "#9C27B0"]
        }
      };
    },
    getOffsetDate() {
      this.offSetDay = new Date(
        this.offSetDay.setDate(this.offSetDay.getDate() - this.dayOffset)
      );
    }
  },
  created() {
    this.createChart();
    this.getLatestWeaterReport();
    this.getWeather();
    this.timer1 = setInterval(this.getLatestWeaterReport, 600000);
    this.timer2 = setInterval(this.updateChart, 600000);
  },
  beforeDestroy() {
    clearInterval(this.timer1);
    clearInterval(this.timer2);
  }
};
</script>

<style scoped>
.btn-left {
  color: white;
  position: absolute;
  left: 0px;
  margin-left: 1.5em;
  background-color: #454a77;
  border: 1px solid #5e649b;
}

.btn-right {
  color: white;
  position: absolute;
  right: 0px;
  margin-right: 1.5em;
  background-color: #454a77;
  border: 1px solid #5e649b;
}
.chart {
  width: 95%;
  height: 90%;
}
.apexcharts-tooltip {
  background: #454a77;
  color: orange;
}
</style>
