<template>
  <div class="card-body">
    <h5 class="card-title">
      Current Weather
      <i v-if="currentWeather.temperature <= 0" class="fas fa-snowflake"></i>
      <i v-if="currentWeather.temperature >= 25" class="fas fa-sun"></i>
      <i v-if="currentWeather.rain != false" class="fas fa-cloud-rain"></i>
    </h5>
    <br />

    <table class="custom-table">
      <tbody>
        <tr>
          <td>Temperature</td>
          <td class="custom-table-td-right">
            {{ currentWeather.temperature }}C
          </td>
        </tr>
        <tr>
          <td>Humidity</td>
          <td class="custom-table-td-right">{{ currentWeather.humidity }}%</td>
        </tr>
        <tr>
          <td>Pressure</td>
          <td class="custom-table-td-right">
            {{ Math.round((currentWeather.pressure / 100) * 100) / 100 }}hPa
          </td>
        </tr>
        <tr>
          <td>Brightness</td>
          <td class="custom-table-td-right">{{ currentWeather.brightness }}</td>
        </tr>
        <tr>
          <td>Rain Amount in last 10min</td>
          <td class="custom-table-td-right">
            {{ currentWeather.rain_amount }}
          </td>
        </tr>
        <tr>
          <td>Wind Speed</td>
          <td class="custom-table-td-right">{{ currentWeather.wind_speed }}</td>
        </tr>
        <tr>
          <td>Wind Direction</td>
          <td class="custom-table-td-right">
            {{ currentWeather.wind_direction }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "CurrentWeatherComponent",
  props: {
    currentWeather: {
      type: Object,
      requiered: true
    }
  }
};
</script>
