<template>
  <div class="bed-container bglight" @click="showModal">
    <div class="row">
      <div class="col-12">
        <div class="wrapper">
          <h5>{{ bed.bed_name }}</h5>
        </div>
      </div>
    </div>
    <div class="row" style="height: 100%">
      <div class="col-4">
        <ul>
          <li v-for="veg in bed.vegetables" v-bind:key="veg.id">
            {{ veg.name }}
          </li>
        </ul>
      </div>
      <div class="col-8">
        <div class="chart-container">
          <apexchart
            width="100%"
            height="100%"
            type="line"
            :options="chartOptions"
            :series="bed.moisture"
          >
          </apexchart>
        </div>
      </div>
    </div>
    <BedDetailModal v-show="isModalVisible" @close="closeModal" :bed="bed" />
  </div>
</template>

<script>
import BedDetailModal from "@/components/modals/BedDetailModal.vue";
export default {
  name: "SingleBedComponent",
  components: {
    BedDetailModal
  },
  props: {
    bed: {
      type: Object,
      requiered: false
    }
  },
  data() {
    return {
      isModalVisible: false,
      chartOptions: {
        chart: {
          id: "vuechart-example"
        },
        xaxis: {
          //categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998],
        },
        tooltip: {
          enabled: true,
          theme: "dark",
          x: {
            format: "HH:mm"
          }
        }
      }
    };
  },
  methods: {
    showModal() {
      this.isModalVisible = true;
    },
    closeModal() {
      this.isModalVisible = false;
    },
    getBedData() {
      this.$parent.getBedData();
    }
  }
};
</script>

<style scoped>
.bed-container {
  width: 30vw;
  float: left;
  padding: 0.5em;
  margin: 1em;
  font-size: 10pt;
  height: 25vh;
}

.chart-container {
  width: 100%;
  height: 85%;
  border-left: 1px solid #1c1e2f;
}

.btn-right {
  color: white;
  position: absolute;
  height: 2em;
  right: 0px;
  margin-right: 1.5em;
  background-color: #454a77;
  border: 1px solid #5e649b;
}

ul {
  display: block;
  width: 100%;
  list-style: none;
  padding-left: 0px;
}
</style>
