<template>
  <div>
    <ul>
      <li v-for="veg in data" v-bind:class="veg.growAction" v-bind:key="veg.id">
        {{ veg.name }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "ToBePlanted",
  props: {
    data: {
      type: Array,
      requiered: true
    }
  }
};
</script>

<style scoped>
ul {
  list-style: none;
  padding: 0;
}
</style>
