<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal">
        <header class="modal-header">
          <h3 v-if="bed.name === ''">Add a new Bed</h3>
          <h3 v-else>Edit {{ bed.bed_name }}</h3>
          <br />
          {{ error }}
        </header>
        <section class="modal-body">
          <form @submit.prevent="onSubmit">
            <h5>Name:</h5>
            <input type="text" v-model="bed.bed_name" /><br />
            <h5>Type:</h5>
            <select v-model="bed.type" style="width: 95%">
              <option
                v-for="option in options"
                v-bind:value="option.value"
                v-bind:key="option.value"
              >
                {{ option.text }}
              </option>
            </select>
            <strong class="strong-add" @click="showAddBedType">+</strong>
            <h5>Description</h5>
            <textarea v-model="bed.notes"></textarea>
            <br />
            <label for="checkbox">Active:</label>
            <input type="checkbox" id="checkbox" v-model="bed.active" />
            <input type="hidden" v-model="bed.id" />

            <button type="submit" class="btn-default" style="width: 6em;">
              Submit
            </button>
            <button
              type="button"
              class="btn-default"
              style="width: 6em;"
              @click="close"
            >
              Close
            </button>
          </form>
        </section>
      </div>
    </div>
  </transition>
</template>

<script>
import { apiService } from "@/common/api.service.js";
export default {
  name: "AddBedModal",
  props: {
    bed: {
      type: Object,
      requiered: false
    }
  },
  data() {
    return {
      options: [],
      isModalVisible: false,
      error: null
      //isModalVisible: false
    };
  },
  methods: {
    close() {
      (this.error = null), this.$emit("close");
    },
    showAddBedType() {
      this.isModalVisible = true;
    },
    onSubmit() {
      if (!this.bed.bed_name) {
        this.error = "Please enter a name";
      } else if (!this.bed.notes) {
        this.error = "Please enter a description";
      } else {
        let endpoint = "/api/beds/";
        let method;
        let payload;
        if (this.bed.id === "") {
          method = "POST";
          payload = {
            bed_name: this.bed.bed_name,
            notes: this.bed.notes,
            active: this.bed.active,
            type: this.bed.type
          };
        } else {
          endpoint = `/api/beds/${this.$props.bed.id}/`;
          method = "PUT";
          payload = {
            id: this.$props.bed.id,
            bed_name: this.$props.bed.bed_name,
            notes: this.$props.bed.notes,
            active: this.$props.bed.active,
            type: this.$props.bed.type
          };
        }
        apiService(endpoint, method, payload);
        this.$parent.getBedData();
        this.close();
      }
    },
    getTypes() {
      const endpoint = "/api/beds/types/";
      let tmpArr = [];
      apiService(endpoint).then(data => {
        for (let type in data) {
          let tmpObj = {
            text: data[type]["name"],
            value: data[type]["id"]
          };
          tmpArr.push(tmpObj);
        }
        this.options = tmpArr;
      });
    }
  },
  created() {
    this.getTypes();
  }
};
</script>

<style scoped>
.strong-add {
  margin-left: 0.25em;
  font-weight: 800;
  font-size: 16pt;
}
</style>
