<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal">
        <header class="modal-header">
          <h3 v-if="sensor.name === ''">Add a new Bed</h3>
          <h3 v-else>Edit {{ sensor.name }}</h3>
          <br />
          {{ error }}
        </header>
        <section class="modal-body">
          <form @submit.prevent="onSubmit">
            <h5>Name:</h5>
            <input type="text" v-model="sensor.name" /><br />
            <h5>IP:</h5>
            <input type="text" v-model="sensor.ip" /><br />
            <h5>Type:</h5>
            <select v-model="sensor.type" style="width: 95%">
              <option
                v-for="type in options"
                v-bind:value="type.id"
                v-bind:key="type.id"
              >
                {{ type.type }}
              </option>
            </select>
            <strong class="strong-add" @click="showAddBedType">+</strong>
            <h5>Description</h5>
            <textarea v-model="sensor.description"></textarea>
            <br />
            <label for="checkbox">Active:</label>
            <input type="checkbox" id="checkbox" v-model="sensor.status" />
            <input type="hidden" v-model="sensor.id" />

            <button type="submit" class="btn-default" style="width: 6em;">
              Submit
            </button>
            <button v-if="sensor.id" @click="deleteSensor" class="btn-default">
              Delete
            </button>
            <button
              type="button"
              class="btn-default"
              style="width: 6em;"
              @click="close"
            >
              Close
            </button>
          </form>
        </section>
      </div>
    </div>
  </transition>
</template>

<script>
import { apiService } from "@/common/api.service.js";
export default {
  name: "AddSensorModal",
  props: {
    sensor: {
      type: Object,
      requiered: false
    },
    sensorTypes: {
      type: Array,
      requiered: true
    }
  },
  data() {
    return {
      options: [],
      isModalVisible: false,
      error: null
      //isModalVisible: false
    };
  },
  methods: {
    close() {
      (this.error = null), this.$emit("close");
    },
    showAddBedType() {
      this.isModalVisible = true;
    },
    async onSubmit() {
      if (!this.sensor.name) {
        this.error = "Please enter a name";
      } else if (!this.sensor.description) {
        this.error = "Please enter a description";
      } else {
        let endpoint = "/api/sensors/";
        let method;
        let payload;
        if (this.sensor.id === "") {
          method = "POST";
          payload = {
            name: this.sensor.name,
            description: this.sensor.description,
            status: this.sensor.status,
            type: this.sensor.type,
            ip: this.sensor.ip
          };
        } else {
          endpoint = `/api/sensors/${this.$props.sensor.id}/`;
          method = "PUT";
          payload = {
            id: this.$props.sensor.id,
            name: this.$props.sensor.name,
            description: this.$props.sensor.description,
            status: this.$props.sensor.status,
            type: this.$props.sensor.type,
            ip: this.$props.sensor.ip
          };
        }
        apiService(endpoint, method, payload).finally(() => {
          this.$parent.getAllSensors();
        });
        this.close();
      }
    },
    async deleteSensor() {
      let endpoint = `/api/sensors/${this.$props.sensor.id}/`;
      await apiService(endpoint, "DELETE");
      this.$parent.getAllSensors();
      this.close();
    },
    setOptions() {
      this.options = this.$props.sensorTypes;
    }
  },
  created() {
    this.setOptions();
  }
};
</script>

<style scoped>
.strong-add {
  margin-left: 0.25em;
  font-weight: 800;
  font-size: 16pt;
}
</style>
