<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal">
        <header class="modal-header">
          <h3>Add new Vegetable</h3>
          <br />
          {{ error }}
        </header>
        <section class="modal-body">
          <form @submit.prevent="onSubmit">
            <h5>Name:</h5>
            <input type="text" v-model="veg_name" /><br />
            <h5>Description</h5>
            <textarea v-model="description"></textarea>
            <table style="width:100%" class="table-veg-growing">
              <thead>
                <tr>
                  <th colspan="4">Select gorwing seasons</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Jan.</td>
                  <td>Feb.</td>
                  <td>Mar.</td>
                  <td>Apr.</td>
                </tr>
                <tr>
                  <td>
                    <select v-model="jan">
                      <option
                        v-for="option in options"
                        v-bind:value="option.value"
                        v-bind:key="option.value"
                      >
                        {{ option.text }}
                      </option>
                    </select>
                  </td>
                  <td>
                    <select v-model="feb">
                      <option
                        v-for="option in options"
                        v-bind:value="option.value"
                        v-bind:key="option.value"
                      >
                        {{ option.text }}
                      </option>
                    </select>
                  </td>
                  <td>
                    <select v-model="mar">
                      <option
                        v-for="option in options"
                        v-bind:value="option.value"
                        v-bind:key="option.value"
                      >
                        {{ option.text }}
                      </option>
                    </select>
                  </td>
                  <td>
                    <select v-model="apr">
                      <option
                        v-for="option in options"
                        v-bind:value="option.value"
                        v-bind:key="option.value"
                      >
                        {{ option.text }}
                      </option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>May</td>
                  <td>Jun.</td>
                  <td>Jul.</td>
                  <td>Aug.</td>
                </tr>
                <tr>
                  <td>
                    <select v-model="may">
                      <option
                        v-for="option in options"
                        v-bind:value="option.value"
                        v-bind:key="option.value"
                      >
                        {{ option.text }}
                      </option>
                    </select>
                  </td>
                  <td>
                    <select v-model="jun">
                      <option
                        v-for="option in options"
                        v-bind:value="option.value"
                        v-bind:key="option.value"
                      >
                        {{ option.text }}
                      </option>
                    </select>
                  </td>
                  <td>
                    <select v-model="jul">
                      <option
                        v-for="option in options"
                        v-bind:value="option.value"
                        v-bind:key="option.value"
                      >
                        {{ option.text }}
                      </option>
                    </select>
                  </td>
                  <td>
                    <select v-model="aug">
                      <option
                        v-for="option in options"
                        v-bind:value="option.value"
                        v-bind:key="option.value"
                      >
                        {{ option.text }}
                      </option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Sep.</td>
                  <td>Oct.</td>
                  <td>Nov</td>
                  <td>Dec</td>
                </tr>
                <tr>
                  <td>
                    <select v-model="sep">
                      <option
                        v-for="option in options"
                        v-bind:value="option.value"
                        v-bind:key="option.value"
                      >
                        {{ option.text }}
                      </option>
                    </select>
                  </td>
                  <td>
                    <select v-model="oct">
                      <option
                        v-for="option in options"
                        v-bind:value="option.value"
                        v-bind:key="option.value"
                      >
                        {{ option.text }}
                      </option>
                    </select>
                  </td>
                  <td>
                    <select v-model="nov">
                      <option
                        v-for="option in options"
                        v-bind:value="option.value"
                        v-bind:key="option.value"
                      >
                        {{ option.text }}
                      </option>
                    </select>
                  </td>
                  <td>
                    <select v-model="dec">
                      <option
                        v-for="option in options"
                        v-bind:value="option.value"
                        v-bind:key="option.value"
                      >
                        {{ option.text }}
                      </option>
                    </select>
                  </td>
                </tr>
              </tbody>
            </table>
            <br />
            <button type="submit" class="btn-default" style="width: 6em;">
              Submit
            </button>
            <button
              type="button"
              class="btn-default"
              style="width: 6em;"
              @click="close"
            >
              Close
            </button>
          </form>
        </section>
      </div>
    </div>
  </transition>
</template>

<script>
import { apiService } from "@/common/api.service.js";
export default {
  name: "AddVegModal",
  props: {
    veg: {
      type: Object,
      requiered: false
    }
  },
  data() {
    return {
      options: [
        { text: "Seed", value: "s" },
        { text: "Plant", value: "p" },
        { text: "Grow", value: "g" },
        { text: "Harvest", value: "h" }
      ],
      isModalVisible: false,
      error: null,
      veg_name: null,
      jan: "x",
      feb: "x",
      mar: "x",
      apr: "x",
      may: "x",
      jun: "x",
      jul: "x",
      aug: "x",
      sep: "x",
      oct: "x",
      nov: "x",
      dec: "x",
      description: null
    };
  },
  methods: {
    close() {
      (this.error = null), this.$emit("close");
    },
    async onSubmit() {
      if (!this.veg_name) {
        this.error = "Please enter a name";
      } else if (!this.description) {
        this.error = "Please enter a description";
      } else {
        const growPeriodTmp = `${this.jan},${this.feb},${this.mar},${this.apr},${this.may},${this.jun},${this.jul},${this.aug},${this.sep},${this.oct},${this.nov},${this.dec}`;
        const endpoint = "api/vegetables/";
        const method = "POST";
        const payload = {
          name: this.veg_name,
          description: this.description,
          growPeriod: growPeriodTmp
        };
        await apiService(endpoint, method, payload);
        this.$parent.getAllVegetables();
        (this.jan = "x"),
          (this.feb = "x"),
          (this.mar = "x"),
          (this.apr = "x"),
          (this.may = "x"),
          (this.jun = "x"),
          (this.jul = "x"),
          (this.aug = "x"),
          (this.sep = "x"),
          (this.oct = "x"),
          (this.nov = "x"),
          (this.dec = "x"),
          this.close();
      }
    }
  }
};
</script>

<style scoped>
.table-veg-growing {
  background-color: #222437;
}

.table-veg-growing tr {
  border-bottom: 3px solid #1c1e2f;
}

.td-veg {
  padding: 1px;
  border-left: 3px solid #1c1e2f;
  border-right: 3px solid #1c1e2f;
  text-align: center;
}

.s {
  background-color: tomato;
}

.p {
  background-color: teal;
}

.g {
  background-color: darkolivegreen;
}

.h {
  background-color: thistle;
}

.x {
}

.legend {
  width: 5em;
  float: left;
  margin-left: 0.1em;
}
</style>
