<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal">
        <header class="modal-header">
          <h3>Details for {{ bed.bed_name }}</h3>
        </header>
        <section class="modal-body">
          <table style="width:100%" class="table-veg-growing">
            <thead>
              <tr>
                <th>Vegetable</th>
                <th>Jan.</th>
                <th>Feb.</th>
                <th>Mar.</th>
                <th>Apr.</th>
                <th>May</th>
                <th>Jun.</th>
                <th>Jul.</th>
                <th>Aug.</th>
                <th>Sep.</th>
                <th>Oct.</th>
                <th>Nov</th>
                <th>Dec</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="veg in bed.vegetables" v-bind:key="veg.id">
                <td>{{ veg.name }}</td>
                <td
                  v-for="pl in veg.growing_period"
                  v-bind:key="pl"
                  v-bind:class="pl"
                  class="td-veg"
                ></td>
              </tr>
            </tbody>
          </table>
          <PlantVegModal
            v-show="isModalVisible2"
            @close="closeModal2"
            :bed="bed"
          />
          <AddBedModal
            v-show="isModalVisible3"
            @close="closeModal3"
            :bed="bed"
          />
          <br />
          <div class="bglight" style="height: 30%">
            <h5 style="padding: .25em;">Notes:</h5>
            <p>{{ bed.notes }}</p>
          </div>
          <br />
          <div class="row" style="width:95%">
            <div class="col-6">Moisture chart goes here</div>
            <div class="col-6">water use goes here</div>
          </div>
        </section>
        <footer class="modal-footer">
          <h6 class="s legend">Seed</h6>
          <h6 class="p legend" style="">Plant</h6>
          <h6 class="g legend">Grow</h6>
          <h6 class="h legend">Harvest</h6>
          <button
            type="button"
            class="btn-default"
            style="width: 6em;"
            @click="showModal2"
          >
            Plant
          </button>
          <button
            type="button"
            class="btn-default"
            style="width: 6em;"
            @click="showModal3"
          >
            Edit Bed
          </button>
          <button
            type="button"
            class="btn-default"
            style="width: 6em;"
            @click="close"
          >
            Close
          </button>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
import PlantVegModal from "@/components/modals/PlantVegModal.vue";
import AddBedModal from "@/components/modals/AddBedModal.vue";

export default {
  name: "BedDetailModal",
  components: {
    PlantVegModal,
    AddBedModal
  },
  props: {
    bed: {
      type: Object,
      requiered: false
    }
  },
  data() {
    return {
      isModalVisible2: false,
      isModalVisible3: false
    };
  },
  methods: {
    close() {
      this.$emit("close");
      this.$parent.getBedData();
    },
    showModal2() {
      this.isModalVisible2 = true;
    },
    closeModal2() {
      this.isModalVisible2 = false;
    },
    showModal3() {
      this.isModalVisible3 = true;
    },
    closeModal3() {
      this.isModalVisible3 = false;
    },
    getBedData() {
      this.$parent.getBedData();
    }
  }
};
</script>

<style scoped>
.modal {
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
}

.table-veg-growing {
  background-color: #222437;
}

.table-veg-growing tr {
  border-bottom: 3px solid #1c1e2f;
}

.td-veg {
  padding: 1px;
  border-left: 3px solid #1c1e2f;
  border-right: 3px solid #1c1e2f;
  text-align: center;
}
</style>
