<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal">
        <header class="modal-header">
          <h3>Change bed status</h3>
          {{ msg }}
        </header>
        <section class="modal-body">
          <div class="row" style="width: 100%">
            <div class="col-6">
              <h4>Active Beds</h4>
              <ul>
                <li
                  v-for="bed in activeBeds"
                  class="bglight"
                  @click="setActive(bed, false)"
                  v-bind:key="bed.id"
                >
                  {{ bed.bed_name }}
                </li>
              </ul>
            </div>
            <div class="col-6">
              <h4>Inactive Beds</h4>
              <ul>
                <li
                  v-for="bed in inactiveBeds"
                  class="bglight"
                  @click="setActive(bed, true)"
                  v-bind:key="bed.id"
                >
                  {{ bed.bed_name }}
                </li>
              </ul>
            </div>
          </div>

          <button class="btn-default" @click="close">Close</button>
        </section>
      </div>
    </div>
  </transition>
</template>

<script>
import { apiService } from "@/common/api.service.js";
export default {
  name: "BedStatusModal",
  props: {
    activeBeds: {
      type: Array,
      requiered: true
    },
    inactiveBeds: {
      type: Array,
      requiered: true
    }
  },
  data() {
    return {
      isModalVisible: false,
      msg: ""
    };
  },
  methods: {
    close() {
      (this.error = null), this.$emit("close");
    },
    async setActive(bed, status) {
      const endpoint = `/api/beds/${bed.id}/`;
      const method = "PUT";
      const payload = {
        id: bed.id,
        bed_name: bed.bed_name,
        notes: bed.notes,
        active: status,
        type: bed.type
      };
      await apiService(endpoint, method, payload);
      //add remove changed bed
      if (status) {
        this.msg = `${bed.bed_name} activated`;
        this.$delete(
          this.$props.inactiveBeds,
          this.$props.inactiveBeds.indexOf(bed)
        );
        this.$props.activeBeds.push(bed);
        this.$props.activeBeds.sort((a, b) => (a.id > b.id ? 1 : -1));
      } else {
        this.msg = `${bed.bed_name} deactivated`;
        this.$delete(
          this.$props.activeBeds,
          this.$props.activeBeds.indexOf(bed)
        );
        this.$props.inactiveBeds.push(bed);
        this.$props.inactiveBeds.sort((a, b) => (a.id > b.id ? 1 : -1));
      }
    }
  }
};
</script>

<style scoped>
.modal {
  top: 25%;
  left: 33.3%;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  width: 33.3%;
  height: 50%;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

li {
  border: 1px solid #1c1e2f;
  width: 100%;
}
</style>
