<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal">
        <header class="modal-header">
          <h3>New plant for {{ bed.bed_name }}</h3>
        </header>
        <section class="modal-body">
          <div class="row" style="width: 90%; margin-left: .5em;">
            <div class="col-6">
              <h4>Add vegetable</h4>
              <ul>
                <li
                  class="bglight"
                  v-for="veg in vegetables"
                  @click="addVegetable(veg, bed)"
                  v-bind:key="veg.name"
                >
                  {{ veg.name }}
                </li>
              </ul>
            </div>
            <div class="col-6">
              <h4>Remove vegetable</h4>
              <ul>
                <li
                  class="bglight"
                  v-for="veg in bed.vegetables"
                  @click="deleteVegetable(veg)"
                  v-bind:key="veg.name"
                >
                  {{ veg.name }}
                </li>
              </ul>
            </div>
          </div>
        </section>
        <footer class="modal-footer">
          <button
            type="button"
            class="btn-default"
            style="width: 6em;"
            @click="close"
          >
            Close
          </button>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
import { apiService } from "@/common/api.service.js";
export default {
  name: "PlantVegModal",
  props: {
    bed: {
      type: Object,
      requiered: false
    }
  },
  data() {
    return {
      vegetables: []
    };
  },
  methods: {
    close() {
      this.$emit("close");
    },
    getAllVegetables() {
      const endpoint = "/api/vegetables/";
      apiService(endpoint).then(data => {
        this.vegetables = data;
      });
    },
    getPlantedVegetables() {
      const endpoint = "/api/vegetables/planted/";
      apiService(endpoint).then(data => {
        let tmpArr = [];
        for (let veg in data) {
          if (data[veg].bed === this.$props.bed.id) {
            tmpArr.push(data[veg]);
          }
        }
        this.plantedVegetables = tmpArr;
      });
    },
    addVegetable(veg, bed) {
      const endpoint = "/api/vegetables/planted/";
      const method = "POST";
      const payload = {
        growing: true,
        bed: bed["id"],
        vegetable: veg["id"]
      };
      apiService(endpoint, method, payload);
      this.$props.bed.vegetables.push(veg);
    },
    async deleteVegetable(veg) {
      let endpoint = `/api/vegetables/planted/${veg.id}/`;
      await apiService(endpoint, "DELETE");
      this.$delete(
        this.$props.bed.vegetables,
        this.$props.bed.vegetables.indexOf(veg)
      );
    }
  },
  created() {
    this.getAllVegetables();
  }
};
</script>

<style scoped>
ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

li {
  border: 1px solid #1c1e2f;
  width: 100%;
}

.modal {
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
}
</style>
