{% extends "base.html" %}
{% load static %}
{% extends "base.html" %}
{% load static %}

{% block style %}
    <link href="{% static 'chunk-050eaf2e.css' %}" rel=prefetch>
    <link href="{% static 'chunk-050eaf2e.css' %}"rel=prefetch>
    <link href="{% static 'chunk-3dca3778.css' %}"rel=prefetch>
    <link href="{% static 'chunk-494b5a9a.css' %}"rel=prefetch>
    <link href="{% static 'chunk-620c8dae.css' %}"rel=prefetch>
    <link href="{% static 'chunk-64b1c09f.css' %}"rel=prefetch>
    <link href="{% static 'chunk-886d1a0a.css' %}"rel=prefetch>
    <link href="{% static 'chunk-cf8802d6.css' %}"rel=prefetch>
    <link href="{% static 'js/chunk-050eaf2e.a6aa5202.js' %}" rel=prefetch>
    <link href="{% static 'js/chunk-3dca3778.f9029418.js' %}" rel=prefetch>
    <link href="{% static 'js/chunk-494b5a9a.1674ca55.js' %}" rel=prefetch>
    <link href="{% static 'js/chunk-620c8dae.fa0145c8.js' %}" rel=prefetch>
    <link href="{% static 'js/chunk-64b1c09f.d1f8b745.js' %}" rel=prefetch>
    <link href="{% static 'js/chunk-886d1a0a.3eaa58bb.js' %}" rel=prefetch>
    <link href="{% static 'js/chunk-cf8802d6.0939c41a.js' %}" rel=prefetch>
    <link href="{% static 'bundle.css' %}"rel=preload as=style>
    <link href="{% static 'bundle.js' %}" rel=preload as=script>
    <link href="{% static 'bundle.css' %}"rel=stylesheet>
{% endblock %}

{% block content %}
<noscript>
    <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<div id="app"></div>
{% endblock %}

{% block js %}
    <script src="{% static 'bundle.js' %}"></script>
{% endblock %}